version: '3.8'

services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: medfinder

    # mongo-express:
    #   image: mongo-express
    #   ports:
    #     - "8081:8081"
    #   environment:
    #     ME_CONFIG_MONGODB_SERVER: mongo




  backend:
    build:
      context: ./backend
    container_name: backend_container
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI
      - JWT_SECRET
    depends_on:
      - mongo
    restart: unless-stopped
    volumes:
      - ./backend:/app

  medication-availability-finder:
    build:
      context: ./medication-availability-finder
      dockerfile: Dockerfile
    container_name: frontend_container
    ports:
      - "5173:5173"
    volumes:
      - ./medication-availability-finder:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo-data:
